.btn-custom {
  color: var(--yellow);
  background-color: transparent;
  border: 1px solid var(--yellow);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    background-color: var(--yellow);
    color: var(--dark-grey);
    outline: none;
  }
}
